.github/**
.vscode/**
.vscode-test-web/**
src/**
out/**
node_modules/**
dist/**/test/**
.gitignore
.markdownlint-cli2.yaml
.yarnrc
AGENTS.md
esbuild.js
pnpm-lock.yaml
pnpm-workspace.yaml
webpack.config.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
